<div>
    <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">

        <nz-table #sortTable [nzShowPagination]="false" [nzData]="driverRideHistories"  #editRowTable nzBordered nzTableLayout="fixed">
            <thead>
                <tr>
                    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority" nzWidth="20%"> {{ column.title }}</th>
                    <th nzWidth="20%">Reason of Ride</th>

                    <th nzWidth="20%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let driverRideHistory of sortTable.data; let i =index">
                    <td style="font-size: large; font-weight: 1000;"> {{driverRideHistory.driverName}}</td>
                    <td>{{driverRideHistory.departingDate}}</td>
                    <td>{{driverRideHistory.returningDate}}</td>

                    <td>{{driverRideHistory.departingMiles}}</td>
                    <td> {{driverRideHistory.returningMiles}}</td>
                    <td> {{ driverRideHistory.rideReason }}</td>
                    <td> <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure delete this record?"
                            (nzOnConfirm)="confirm({driverName:driverRideHistory.driverName,departingDate:driverRideHistory.departingDate, returningDate:driverRideHistory.returningDate},i)"
                            (nzOnCancel)="cancel()" nzPopconfirmPlacement="right" nz-button>
                            delete
                        </button></td>
                </tr>
            </tbody>
        </nz-table>
    </cdk-virtual-scroll-viewport>
</div>


<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event)" class="myForm">
    <div class="title">Create New Record</div>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Driver Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="driverNameErrorTpl">
            <input nz-input formControlName="driverName" placeholder="" />
            <ng-template #driverNameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('pattern')">Please input valid driver name!</ng-container>
                <ng-container *ngIf="control.hasError('required')">Please input driver name!</ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Date of Ride</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-range-picker formControlName="rideDate" style="width:50%"></nz-range-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Departing Miles</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            [nzErrorTip]="departingMilesErrorTpl">
            <nz-input-number style="width:50%" formControlName="departingMiles"></nz-input-number>
            <ng-template #departingMilesErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your departing miles!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">Please input valid departing miles!</ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Returning Miles</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
            [nzErrorTip]="returningMilesErrorTpl">
            <nz-input-number style="width:50%" formControlName="returningMiles"></nz-input-number>
            <ng-template #returningMilesErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your returning miles!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">Please input valid returning miles!</ng-container>

            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Ride Reason</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write something here!">
            <nz-textarea-count [nzMaxCharacterCount]="200">
                <textarea formControlName="rideReason" nz-input rows="2" placeholder="write any thing"></textarea>
            </nz-textarea-count>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
            <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
    </nz-form-item>
</form>