.loginPage{
  max-width: 300px;
  margin:300px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 300px;
  padding: 20px 20px;
  margin-top: 25vh;
  
}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }